In [9]:
## conditionals

Conditionals in python consists of the following:
* if statement
* elif statement
* else statement

SyntaxError: invalid syntax (741900633.py, line 3)

In [11]:
# program that return the age 

name = input('Enter your name')
yob = int(input ('Enter your year of birth'))

age = 2023 - yob
print(f' hi {name}, you are {age} years old')

Enter your nameJane
Enter your year of birth2005
 hi Jane, you are 18 years old

In [12]:
# program that tells whether someone is a teenager, child, adult, aged

# At this point we are accepting user input
name = input('Enter your name')
yob = int(input ('Enter your year of birth'))

# At this point we are calculating the age
age = 2023 - yob

if age < 13:
    print(f'Hi {name}, you are a child')
elif age <20:
    print(f'Hi {name}, you are a teenager')
elif age <60:
    print(f'Hi {name}, you are an adult')
else: 
    print(f'Hi {name}, you are aged')

Enter your nameFlora
Enter your year of birth2001
Hi Flora, you are an adult

In [13]:
# write a program that checks whether a number is odd or even

number = int(input('Enter the number'))

if number % 2 == 0:
    print(f'{number}, is an even number')
else: 
    print(f'{number}, is an odd number')

Enter the number23
23, is an odd number

In [17]:
# write a program that checks whether a number is odd, even and also check if it is a multiple of 4

number = int(input('Enter the number'))

if number % 2 ==0:
    if number % 4 ==0:
        print(f'{number}, is a multiple of 4')
    else: 
        print(f'{number}, is an even number')  
else: 
    print(f'{number}, is an odd number')

Enter the number51
51, is an odd number

In [ ]:
# write a program that checks whether a number is odd, even, or a factor of 100

In [22]:
number = int(input('Enter the number'))

if 100 % number == 0:
    print(f'{number}, is a factor of 100')
elif number % 2 ==0:
     print(f'{number}, is an even number')
else: 
    print(f'{number}, is an odd number')

Enter the number100
100, is a factor of 100

In [ ]:
##lists, dictionaries, tuples

In [26]:
students = ['John', 'Joshua','Dan','Osagie']

In [28]:
print(students)

['John', 'Joshua', 'Dan', 'Osagie']

In [24]:
print (type(students))

<class 'list'>

In [30]:
students[3]

'Osagie'

In [31]:
students[0]

'John'

In [32]:
# negative index: starts from the end

students[-1]

'Osagie'

In [33]:
students[-2]

'Dan'

In [34]:
students[0:2]

['John', 'Joshua']

In [35]:
#Above we would assume that Dan should be listed but that was not with range,
#hence to get than we add an extra range as shiwn below

students[0:3]

['John', 'Joshua', 'Dan']

In [ ]:
 # creating a list of numbers between 1 and 10

In [37]:
num = list (range(1, 101))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [38]:

num_1 = (1,2,3,4,5,6,7,8,9,10)
num_2 = [1,2,3,4,5,6,7,8,9,10]

print(num_1)
print(num_2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
print(type(num_1))
print(type(num_2))

<class 'tuple'>
<class 'list'>

In [43]:
#create a list of even numbers between 1 and 20

even_no = list(range(2,21,2)) 
# 2= lower boundary, 21 = upper boundary, 2 = steps

In [44]:
even_no

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [45]:
# create a list of multiples of 7 between 1 and 70
#create a list of even numbers between 20 and 50

In [48]:
multi_seven = list(range(7,71,7))

In [49]:
multi_seven

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [50]:
even_num = list(range(20,51,2))

In [51]:
even_num

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [52]:
# create a list of mutliples of 3 between 20 and 50

multi_three = list(range(21,51,3))

In [53]:
multi_three

[21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [55]:
# write a program that does some sort of user validation

musk = ['elon','john', 'daniel']
gates = ['bill','melinda','muyiwa']

name = input ('Enter your name: ')

if name in musk:
    print(f' welcome {name}, you are in the musk family')
elif name in gates: 
    print(f' welcome {name}, you are in the gates family')
else: 
    print(f"welcome {name}, you are don't have enough money")

Enter your name: Dare
welcome Dare, you are don't have enough money